.e{
	
}
.as1{
	width:100%;
	height:1020px;
	background-image:url("wallpapar.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
    background-attachment:fixed;
}
.as2{
	width:100%;
	height:1080px;
	background-image:linear-gradient(-90deg,red,yellow,orange);
	background-size:100% 100%;	
	
	
	
}

.w{
	width:100%;
	height:1080px;
	background-image:linear-gradient(to bottom,red,white);
	background-size:100% 100%;
	
	
}